/* Dropdown Item */
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-danger) !important;
}

/* Dropdown Container Positioning */
.dropdown-container-positioning {
  position: relative !important;
}

/* Dropdown Toggle */
.dropdown-toggle {
  display: flex !important;
  align-items: center;
  font-weight: bold !important;
  background-image: var(--bs-gradient) !important;
}

/* Playback Speed Dropdown */
#playback-speed-dropdown,
#list-order-dropdown {
  min-width: 4.125rem;
  text-align: center;
  justify-content: center;
}

.dropdown-menu[aria-labelledby="playback-speed-dropdown"],
.dropdown-menu[aria-labelledby="list-order-dropdown"] {
  min-width: 6.25rem;
}
@media screen and (max-width: 576px) {
  .dropdown-menu[aria-labelledby="playback-speed-dropdown"],
  .dropdown-menu[aria-labelledby="list-order-dropdown"] {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    top: 100% !important;
    transform: unset !important;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-radius: 0;
    border: none;
    opacity: 0;
    transition: opacity 0.2s;
    margin-top: 0.3rem;
  }

  .dropdown-margin:has(.dropdown-menu.show) {
    margin-bottom: 4rem;
  }
  .dropdown-menu[aria-labelledby="playback-speed-dropdown"] a,
  .dropdown-menu[aria-labelledby="list-order-dropdown"] a {
    border-radius: 0.375rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.375rem;
    text-align: center;
    border: var(--bs-body-bg) solid 0.1875rem;
    flex: 0 0 25%;
  }
  .dropdown-container-positioning {
    position: unset !important;
  }
  .dropdown-menu[aria-labelledby="playback-speed-dropdown"].show,
  .dropdown-menu[aria-labelledby="list-order-dropdown"].show {
    display: flex;
    overflow-x: auto;
    opacity: 1;
  }
}
